.appWorkPlayBanner {
    position: relative;
    height: 40rem;

    .topleft {
        position: absolute;
        top:25%;
        left: 70%;
        font-size: 18px;

        img {
            width: 2rem;
        }
    }

    .topright {
        position: absolute;
        top:25%;
        left: 25%;
        font-size: 18px;
        img {
            width: 2rem;
        }
    }

    .topmiddle {
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        font-size: 18px;  
        img {
            width: 2rem;
        }
    }

    .bottomleft {
        position: absolute;
        bottom:25%;
        left: 25%;
        font-size: 18px;

        img {
            width: 2rem;
        }
    }

    .bottomright {
        position: absolute;
        bottom:25%;
        right: 25%;
        font-size: 18px;

        img {
            width: 2rem;
        }
    }

    .bottommiddle {
        position: absolute;
        top: 90%;
        width: 100%;
        text-align: center;
        font-size: 18px;  
        img {
            width: 2rem;
        }
    }


    .center {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        h1{
            font-size: 50px;
            color: purple;
            font-family: "DMSans Bold";
        }
        h2{
            font-size: 55px;
            font-family: "DMSans Regular";
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}