
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }
  
  
  :root {
      --d: 2500ms;
      --angle: 90deg;
      --gradX: 100%;
      --gradY: 50%;
      --c1: rgba(168, 239, 255, 1);
      --c2: rgba(168, 239, 255, 0.1);
  }
  
  
  @keyframes borderRotate {
      100% {
          --angle: 420deg;
      }
  }
  
  @keyframes borderRadial {
      20% {
          --gradX: 100%;
          --gradY: 50%;
      }
      40% {
          --gradX: 100%;
          --gradY: 100%;
      }
      60% {
          --gradX: 50%;
          --gradY: 100%;
      }
      80% {
          --gradX: 0%;
          --gradY: 50%;
      }
      100% {
          --gradX: 50%;
          --gradY: 0%;
      }
  }


.productsIHaveWorkedOn {
    --s: 700px;
    --g: 20px;
    display: grid;
    gap: var(--g);
    width: calc(2*var(--s) + var(--g));
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
    padding: 5rem;

    .box {
        font-size: 3vw;
        margin: max(1rem, 3vw);
        border: 0.35rem solid;
        padding: 3vw;
        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;
    }

    .item1 {
        background-image: url("../../Image/projects/azzyhub.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        cursor: pointer;
        transition: .5s;
        &:hover {
            width: calc(var(--s)/2);
        }
    }

    .item2 {
        background-image: url("../../Image/projects/kusnap.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-column: 3 / 6;
        grid-row: 1 / 3;
        transition: .5s;
        &:hover {
            width: calc(var(--s)/2);
        }
    }

    .item3 {
        background-image: url("../../Image/projects/moove.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-column: 1 / 5;
        grid-row: 3 / 5;
        cursor: pointer;
        transition: .5s;
        &:hover {
            width: calc(var(--s)/2);
        }

    }

    .item4 {
        background-image: url("../../Image/projects/fawwaz.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        grid-column: 5 / 7;
        grid-row: 3 / 5;
        cursor: pointer;
        transition: .5s;
        &:hover {
            width: calc(var(--s)/2);
        }
    }
}



