.splashscreen {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 129993994;
    display: grid;
    place-content: center;

    .mainDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        .splashImg{
            img{
                width:3rem;
                height:3rem;
            }
        }

        .stacksContainer {
            margin-left: 1rem;
            width: max-content;
            height: 4rem;
            overflow: hidden;
            position: relative;

            .stacksText {
                margin-bottom: 0.5rem;
                text-align: center;

                /* animation properties */
                // -moz-transform: translateY(100%);
                // -webkit-transform: translateY(100%);
                transform: translateY(0.5rem);

                -moz-animation: my-animation 5s linear infinite;
                -webkit-animation: my-animation 5s linear infinite;
                animation: my-animation 5s linear infinite;
            }

        }
    }
}
