.appBio {
    padding: 5rem;
    .zeinabWeb {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .zeinabBio {
        width: 50%;
        margin-top: 5rem;
        h3{
            font-family: "DMSans Medium";
            margin-bottom: 2rem;
            font-size: 35px;
            span{
                color:blue;
            }
        }
        p{
            color:grey;
        }

    }
}