.allImages{
    .treepz{
        width:10rem;
        height: 100%;
        margin-top: 1rem;
    }
    .shr{
        width:10rem;
        height: 100%;
        margin-top: 3rem;
        
    }
    .moove{
        width:15rem;
        height: 100%;   
    }
    .kusnap {
        width:6rem;
        height: 6rem;
        margin-top: 1rem;
    }
    .dev{
        width:8rem;
        height: 8rem;
        
    }
    .riby{
        width:4rem;
        height: 4rem;
        margin-top: 2rem;
        
    }
}