.appHero {
    padding: 5rem;
    .nameHero {
        width: 40%;
        margin-top: 5rem;
        margin-left: 5rem;
        .nameDev {
            h3 {
                color: blue;
                font-size: 50px;
                font-family: "DMSans Bold";
            }
            .writeUp {
                font-family: "DMSans Medium";
                font-size: 40px;
            }
        }
    }
    .appIcons {
        margin-top: 2rem;
        .linkedIn {
            margin-right: 1rem;
        }
        img {
            width: 2rem;
            height: 2rem;
        }
    }
    .zeinabHero {
        width: 60%;
        img {
            width: 90%;
            height: 90%;
        }
    }
}