.appHero {
    padding: 1rem;
    padding-top: 4rem;

    .heroContent {
        width: 45%;
        margin-top: 3rem;

        p {
            font-family: "DMSans Regular";
        }

        h6 {
            font-family: "DMSans Bold";
            animation: Color 4s linear infinite;
            -webkit-animation: Color 4s ease-in-out infinite;
            font-size: 60px;
            text-align: left;
        }

        h1 {
            font-family: "DMSans Bold";
            font-size: 30px;
        }

        a {
            animation: Color 4s linear infinite;
            -webkit-animation: Color 4s ease-in-out infinite;
        }

        .details {
            font-family: "DMSans Medium";
        }
    }

    .heroImage {
        width: 40%;

        img {
            width: 90%;
            height: 35rem;
        }

    }
}

@media only screen and (max-width: 1189px) {
    .appHero {

        .heroImage {
            img {
                width: 100%;
                height: 30rem;

            }
        }
    }
}

@media only screen and (max-width: 658px) {
    .appHero {
        .heroContent {
            width: 100%;
        }

        .heroImage {
            display: none;

            img {}
        }
    }
}