//DMSans

$font-bold: "DMSans Bold";
$font-bolditalic: "DMSans BoldItalic";
$font-italic: "DMSans Italic";
$font-medium: "DMSans Medium";
$font-mediumitalic: "DMSans MediumItalic";
$font-regular: "DMSans Regular";



