//Montserrat

$font-black: "Montserrat Black";
$font-blackitalic: "Montserrat BlackItalic";
$font-bold: "Montserrat Bold";
$font-bolditalic: "Montserrat BoldItalic";
$font-extrabold: "Montserrat ExtraBold";
$font-extrabolditalic: "Montserrat ExtraBoldItalic";
$font-extralight: "Montserrat ExtraLight";
$font-extralightitalic: "Montserrat ExtraLightItalic";
$font-italicvariable: "Montserrat ItalicVariable";
$font-italic: "Montserrat Italic";
$font-light: "Montserrat Light";
$font-lightitalic: "Montserrat LightItalic";
$font-medium: "Montserrat Medium";
$font-mediumitalic: "Montserrat MediumItalic";
$font-regular: "Montserrat Regular";
$font-semibold: "Montserrat SemiBold";
$font-semibolditalic: "Montserrat SemiBoldItalic";
$font-thin: "Montserrat Thin";
$font-thinitalic: "Montserrat ThinItalic";
$font-variablefont: "Montserrat VariableFont";


