//Roboto

$font-black: "Roboto Black";
$font-blackitalic: "Roboto BlackItalic";
$font-bold: "Roboto Bold";
$font-bolditalic: "Roboto BoldItalic";
$font-italic: "Roboto Italic";
$font-light: "Roboto Light";
$font-lightitalic: "Roboto LightItalic";
$font-medium: "Roboto Medium";
$font-mediumitalic: "Roboto MediumItalic";
$font-regular: "Roboto Regular";
$font-thin: "Roboto Thin";
$font-thinitalic: "Roboto ThinItalic";


