.AppTabs{
    padding: 5rem;
    .nav{
        cursor: pointer;
        li{
            font-family: "DMSans Bold";
            color:purple;
            font-size: 23px;
            
            padding-left: 1rem;
            text-decoration: dashed;
            &.active{
                opacity:0.3; 
               
            }
        }
    }
}
@media only screen and (max-width: 1189px) {
    .AppTabs{

       padding: 0rem;
    }
}

@media only screen and (max-width: 658px) {
    .AppTabs{
        padding: 0rem;
     }
}