.AppTabs{
    padding: 5rem;
    .nav{
        cursor: pointer;
        li{
            font-family: "DMSans Bold";
            color:purple;
            font-size: 23px;
            
            padding-left: 1rem;
            text-decoration: dashed;
            &.active{
                opacity:0.3; 
               
            }
        }
    }
}