body {
  font-family: "DMSans Regular" !important;
}

html,
body {
  &,
  * {
    background-color: white;
    color:#10101a;
    // cursor: url("data:image/svg+xml;utf8,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='5' cy='5' r='5' fill='black'/></svg>"),
    // auto;
  }
  //&:hover, *:hover {
  //   cursor: url("data:image/svg+xml;utf8,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='5' cy='5' r='5' fill='black'/></svg>"), auto !important;
  // }
  // #light {
  //   background: #10101a;
  // }

  // #dark {
  //   
  //   

  //   a {
  //     
  //   }
  // }

}
.App{
  padding: 3rem;
}
@keyframes my-animation {
    from {
        -moz-transform: translateY(3rem);
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
    }
    to {
        -moz-transform: translateY(-20rem);
        -webkit-transform: translateY(-20rem);
        transform: translateY(-20rem);
    }
}
@keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@media only screen and (max-width: 1189px) {
    .App{
      padding:0.5rem;
    }
}
@media only screen and (max-width: 658px) {
  .App{
      
   }
}