@import "./Config/variables.scss";


//DMSans
@font-face {
  font-family: $font-bold;
  src: url("./Fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: $font-bolditalic;
  src: url("./Fonts/DMSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: $font-italic;
  src: url("./Fonts/DMSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: $font-medium;
  src: url("./Fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: $font-mediumitalic;
  src: url("./Fonts/DMSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: $font-regular;
  src: url("./Fonts/DMSans-Regular.ttf") format("truetype");
}
